{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1><?= $page_title ?></h1>
  </div>
  <div id="myfirstchart" style="height: 250px;"></div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
	<td>Date de tweet</td>
	<td>Tweet</td>
	<td>Login</td>
	<td>SentimentAnalysis</td>
	<td>URL</td>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
	<td>{{ item.created_at }}</td>
	<td>{{ item.text }}</td>
	<td><a href="https://twitter.com/{{ item.username }}">{{ item.username }}</a></td>
	<td class="{{ item.SentimentA }}">{{ item.SentimentA }}</td>
	<td><a href="https://twitter.com/{{ item.username }}/status/{{ item.id_str }}">...</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  new Morris.Donut({
  element: 'myfirstchart',
  data: [
  { label: 'Positive', value: $(".positive").length },
  { label: 'Neutral', value: $(".neutral").length },
  { label: 'Negative', value: $(".negative").length },
  ],
  labels: ['Value']
  });
</script>
{% endblock %}
