{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>{{ search }}</h1>
    <div id="mydonut" style="height: 250px;"></div>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
	<td>Date de tweet</td>
	<td>Tweet</td>
	<td colspan="2">Login</td>
	<td>SentimentAnalysis</td>
	<td>URL</td>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
	<td>{{ item.created_at }}</td>
	<td>{{ item.text }}</td>
	<td><img src="{{ item.username_img }}" style="box-shadow:0 0 15px 5px grey;" /></td>
	<td><a href="https://twitter.com/{{ item.username }}">{{ item.username }}</a></td>
	<td class="{{ item.SentimentA }}">{{ item.SentimentA }}</td>
	<td><a href="https://twitter.com/{{ item.username }}/status/{{ item.id_str }}">...</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  new Morris.Donut({
  element: 'mydonut',
  data: [
  { label: 'Positive', value: $(".positive").length },
  { label: 'Neutral', value: $(".neutral").length },
  { label: 'Negative', value: $(".negative").length },
  ],
  labels: ['Value']
  });
</script>
{% endblock %}
